In [1]:
# The balance of margin loan and stock loan   for OTC
import pandas as pd
import numpy as np
from pandas import DataFrame

# from pandas_datareader import data
from datetime import datetime, timedelta

from sqlalchemy import create_engine

import requests
import urllib

import re
import os
import logging
import time
import sys

from IPython.display import clear_output

sys.path.append('..')

import Crawler as cw

In [2]:
test = cw.StockData(tse_file='../StockInfo/', otc_file='../StockInfo_otc/', 
                   ind_file='../IndexData/', pay_file='../IndexPayData/')

In [3]:
test.get_price('006201').head()

,code,name,volume,transaction,turnover,open,high,low,close,UD,difference,last_buy,last_buy_volume,last_sell,last_sell_volume,PE_ratio,date
0,006201,寶富櫃,1138000,352,16956060,14.89,14.94,14.88,14.89,,0.00,14.89,,14.90,,,2011-01-27
1,006201,寶富櫃,1281000,212,19047920,14.91,14.93,14.80,14.88,-,0.01,14.88,,14.90,,,2011-01-28
2,006201,寶富櫃,2057000,179,30443970,14.90,14.92,14.70,14.76,-,0.12,14.75,,14.76,,,2011-02-08
3,006201,寶富櫃,559000,137,8227850,14.80,14.80,14.61,14.61,-,0.15,14.61,,14.62,,,2011-02-09
4,006201,寶富櫃,377000,102,5472810,14.60,14.60,14.48,14.51,-,0.10,14.51,,14.59,,,2011-02-10

In [5]:
test.get_insti3('006201').tail()

,code,證券名稱,外資買,外資賣,外資買賣,投信買,投信賣,投信買賣,自營買(自行),自營賣(自行),自營買賣(自行),自營買(避險),自營賣(避險),自營買賣(避險),三大買賣,自營買,自營賣,自營買賣
1568,006201,元大富櫃50,0,0,0,0,0,0,0.0,0.0,0.0,0.0,3000.0,-3000.0,-3000,0.0,3000.0,-3000.0
1569,006201,元大富櫃50,0,0,0,0,0,0,0.0,0.0,0.0,335000.0,0.0,335000.0,335000,335000.0,0.0,335000.0
1570,006201,元大富櫃50,0,0,0,0,0,0,0.0,0.0,0.0,288000.0,18000.0,270000.0,270000,288000.0,18000.0,270000.0
1571,006201,元大富櫃50,0,0,0,0,0,0,0.0,0.0,0.0,46000.0,5000.0,41000.0,41000,46000.0,5000.0,41000.0
1572,006201,元大富櫃50,0,0,0,0,0,0,0.0,0.0,0.0,86000.0,10000.0,76000.0,76000,86000.0,10000.0,76000.0

In [4]:
test.get_mb('006201').head()

,code,name,資買,資賣,現償,前資餘額,資餘額,資限額,資使用率(%),資屬證金,...,券賣,券償,前券餘額,券餘額,券限額,券使用率(%),券屬證金,資券相抵,備註,date
0,006201,寶富櫃,0,0,0,0,0,28861,0.0,0,...,0,0,0,0,28861,0.0,0,0,,2011-01-26
1,006201,寶富櫃,21,0,0,0,21,28861,0.07,0,...,0,0,0,0,28861,0.0,0,0,,2011-01-27
2,006201,寶富櫃,5,0,0,21,26,28861,0.09,0,...,0,0,0,0,28861,0.0,0,0,,2011-01-28
3,006201,寶富櫃,18,0,0,26,44,28736,0.15,0,...,0,0,0,0,28736,0.0,0,0,,2011-02-08
4,006201,寶富櫃,10,0,0,44,54,28236,0.19,0,...,0,0,0,0,28236,0.0,0,0,,2011-02-09

In [8]:
a.iloc[0]

code                       1264
證券名稱                         德麥
外資買                        4000
外資賣                        6000
外資買賣                      -2000
投信買                           0
投信賣                           0
投信買賣                          0
自營買(自行)                       0
自營賣(自行)                       0
自營買賣(自行)                      0
自營買(避險)                       0
自營賣(避險)                     800
自營買賣(避險)                   -800
自營買                          00
自營賣                        0800
自營買賣                      0-800
三大買賣                      -2800
date        2017-11-20 00:00:00
Name: 567, dtype: object

In [5]:
a

,code,證券名稱,外資買,外資賣,外資買賣,投信買,投信賣,投信買賣,自營買(自行),自營賣(自行),自營買賣(自行),自營買(避險),自營賣(避險),自營買賣(避險),自營買,自營賣,自營買賣,三大買賣,date
567,1264,德麥,4000,6000,-2000,0,0,0,0,0,0,0,800,-800,00,0800,0-800,-2800,2017-11-20
568,1264,德麥,0,4000,-4000,0,0,0,0,0,0,0,0,0,00,00,00,-4000,2017-11-21
569,1264,德麥,3000,8000,-5000,0,3000,-3000,0,0,0,0,0,0,00,00,00,-8000,2017-11-22
570,1264,德麥,0,3000,-3000,0,0,0,0,0,0,0,0,0,00,00,00,-3000,2017-11-23
571,1264,德麥,0,4000,-4000,0,0,0,0,0,0,0,0,0,00,00,00,-4000,2017-11-24

In [8]:
(a.iloc[0, -3])

'0-800'